body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f6f9fc, #e9eff2);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
}

input[type="file"],
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #007bff;
    border-radius: 6px;
    transition: border-color 0.3s ease;
}

input[type="file"]:hover,
input[type="text"]:hover {
    border-color: #0056b3;
}

button {
    padding: 12px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#message {
    margin-top: 20px;
    font-size: 14px;
    color: green;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

/* Estilo para alerta */
.alert {
    display: none; /* Oculto por defecto */
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: #d4edda;
    color: #155724;
    margin-top: 15px;
    transition: opacity 0.3s ease;
}
.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 6px;
    height: 8px;
    margin: 10px 0;
    display: none; /* Oculto por defecto */
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #007bff;
    border-radius: 6px;
    transition: width 0.3s ease;
}
